*.epub
*.db
*.fb2
build/*
__pycache__/*
extract_dir
launch.json
dist/*
russian_dict.zip
Stress-Marker-win.zip
correctness_tests\stress-diff-displayer\node_modules
correctness_tests/stress-diff-displayer/*
correctness_tests/stressed_russian_texts/reynolds_dataset
correctness_tests/stressed_russian_texts/correctness_tests
Stress-Marker-win
diff.html
idiot_stressed.zip
correctness_tests/create_html_diff/
correctness_tests/stressed_russian_texts/commercial/
correctness_tests/results/
correctness_tests/__pycache__/
russian_text_stresser/__pycache__/
ruwiktionary_extracted_words.json
ruwiktionary_extracted_words.txt
russian_text_stresser/__pycache__/
data_augmentation/opravka.html
simple_cases.pkl
.idea/
data_augmentation/sample_files/
ruwiktionary_words.json
data_augmentation/__pycache__/
ruwiktionary_words_fixed.json
8d9bad5b43259c6ee27d9aadc7b832/
ruwiki_yo_wordlist.txt
openai-key.txt
base_words.json
russian-kaikki.json
ruwiktdata_cleaned.json
ruwiktdata_int.json
wikipedia_words.txt
russian-kaikki-utf8.json
disambiguation_text2.txt
chosen_tasks.txt
disambiguation_text3.txt
question.json
disambiguation_tasks.json
correctness_tests.zip
correctness_tests/results_russiangram_with_yo/
correctness_tests/results_russiangram_with_yo_fixed/
correctness_tests/results_my_solution/commercial/
correctness_tests/results_my_solution/reynolds_dataset/
pos_comparison.tsv
correctness_tests/results_russtress/
correctness_tests/results_random/
stress_mistakes.tsv
*.txt
*.tsv
correctness_tests/results_russ/
correctness_tests/results_reynolds/
correctness_tests/results_my_solution_old/
Profile.prof
correctness_tests/results_russian_dict_old_downloadable/
correctness_tests/results_tempdb_0_enwiktionary_only/
correctness_tests/results_tempdb_1_with_openrussian/
correctness_tests/results_tempdb_3_with_ruwikipedia/
correctness_tests/results_tempdb_2_with_ruwiktionary/
ruwiktdata_int-old.json
ruwiktdata_cleaned-old.json
ruwiktionary-NS0-20230201-ENTERPRISE-HTML.json.tar.gz
*.json
ruwiktionary-NS0-20230401-ENTERPRISE-HTML.json.tar.gz
russian_text_stresser/simple_casesOLD.pkl
russian_text_stresser/russian_dictOLD.zip
*.ndjson
*.xml
*.xml.bz2
ruwiktionary-new
russian_text_stresser/ru_core_news_lg-3.4.0/
*.prof
*.ref