*.epub
*.db
*.fb2
build/*
__pycache__/*
extract_dir
launch.json
dist/*
russian_dict.zip
Stress-Marker-win.zip
correctness_tests\stress-diff-displayer\node_modules
correctness_tests/stress-diff-displayer/*
correctness_tests/stressed_russian_texts/reynolds_dataset
Stress-Marker-win
diff.html
idiot_stressed.zip
correctness_tests/create_html_diff/
correctness_tests/stressed_russian_texts/commercial/
correctness_tests/__pycache__/
russian_text_stresser/__pycache__/
ruwiktionary_extracted_words.json
ruwiktionary_extracted_words.txt
russian_text_stresser/__pycache__/
data_augmentation/opravka.html
simple_cases.pkl
.idea/
data_augmentation/sample_files/
ruwiktionary_words.json
data_augmentation/__pycache__/
ruwiktionary_words_fixed.json
8d9bad5b43259c6ee27d9aadc7b832/
ruwiki_yo_wordlist.txt
openai-key.txt
base_words.json
russian-kaikki.json
ruwiktdata_cleaned.json
ruwiktdata_int.json
wikipedia_words.txt
russian-kaikki-utf8.json
disambiguation_text2.txt
chosen_tasks.txt
disambiguation_text3.txt
question.json
disambiguation_tasks.json
correctness_tests.zip
pos_comparison.tsv
stress_mistakes.tsv

Profile.prof

ruwiktdata_int-old.json
ruwiktdata_cleaned-old.json
ruwiktionary-NS0-20230201-ENTERPRISE-HTML.json.tar.gz
*.json
ruwiktionary-NS0-20230401-ENTERPRISE-HTML.json.tar.gz
russian_text_stresser/simple_casesOLD.pkl
russian_text_stresser/russian_dictOLD.zip
*.ndjson
*.xml
*.xml.bz2
ruwiktionary-new
russian_text_stresser/ru_core_news_lg-3.4.0/
*.prof
*.ref
*.png
*.svg
*.dawg
api-specs.ts
tests/__pycache__/*
.tox/
*.txt
*.tsv
zz_temp/*
russian_text_stresser/build/*
russian_text_stresser/dist/*
html/
correctness_tests/.~lock.pro-con-table.ods#
