*.epub
*.db
*.fb2
build/*
__pycache__/*
extract_dir
launch.json
dist/*
russian_dict.zip
Stress-Marker-win.zip
correctness_tests\stress-diff-displayer\node_modules
correctness_tests/stress-diff-displayer/*
correctness_tests/stressed_russian_texts/reynolds_dataset
correctness_tests/stressed_russian_texts/correctness_tests
Stress-Marker-win
diff.html
idiot_stressed.zip
correctness_tests/create_html_diff/
correctness_tests/stressed_russian_texts/commercial/
correctness_tests/results/
correctness_tests/__pycache__/
